* {
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.videos-list {
	margin: auto;
}

.video-box {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	text-align: center;
	float: top;
}

.video-item * {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.video-title {
	height: 30%;
	width: 70%;
}

.video-title h2 {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 15px;
	text-align: center;
	display: inline;
}